<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mishushi_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,611},{62,70}}</string>
                <key>offset</key>
                <string>{-24,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,103},{62,70}}</string>
                <key>sourceSize</key>
                <string>{280,250}</string>
            </dict>
            <key>mishushi_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,535},{62,68}}</string>
                <key>offset</key>
                <string>{-24,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,105},{62,68}}</string>
                <key>sourceSize</key>
                <string>{280,250}</string>
            </dict>
            <key>mishushi_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,535},{62,68}}</string>
                <key>offset</key>
                <string>{-24,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,105},{62,68}}</string>
                <key>sourceSize</key>
                <string>{280,250}</string>
            </dict>
            <key>mishushi_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,569},{62,70}}</string>
                <key>offset</key>
                <string>{-24,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,103},{62,70}}</string>
                <key>sourceSize</key>
                <string>{280,250}</string>
            </dict>
            <key>mishushi_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,569},{62,70}}</string>
                <key>offset</key>
                <string>{-24,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,103},{62,70}}</string>
                <key>sourceSize</key>
                <string>{280,250}</string>
            </dict>
            <key>mishushi_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,407},{62,70}}</string>
                <key>offset</key>
                <string>{-24,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,103},{62,70}}</string>
                <key>sourceSize</key>
                <string>{280,250}</string>
            </dict>
            <key>mishushi_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,597},{62,66}}</string>
                <key>offset</key>
                <string>{-24,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,107},{62,66}}</string>
                <key>sourceSize</key>
                <string>{280,250}</string>
            </dict>
            <key>mishushi_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,597},{62,66}}</string>
                <key>offset</key>
                <string>{-24,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,107},{62,66}}</string>
                <key>sourceSize</key>
                <string>{280,250}</string>
            </dict>
            <key>mishushi_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,599},{62,66}}</string>
                <key>offset</key>
                <string>{-24,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,107},{62,66}}</string>
                <key>sourceSize</key>
                <string>{280,250}</string>
            </dict>
            <key>mishushi_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,599},{62,66}}</string>
                <key>offset</key>
                <string>{-24,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,107},{62,66}}</string>
                <key>sourceSize</key>
                <string>{280,250}</string>
            </dict>
            <key>mishushi_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,407},{62,70}}</string>
                <key>offset</key>
                <string>{-24,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,103},{62,70}}</string>
                <key>sourceSize</key>
                <string>{280,250}</string>
            </dict>
            <key>mishushi_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,471},{62,70}}</string>
                <key>offset</key>
                <string>{-24,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,103},{62,70}}</string>
                <key>sourceSize</key>
                <string>{280,250}</string>
            </dict>
            <key>mishushi_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,541},{68,70}}</string>
                <key>offset</key>
                <string>{-21,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,103},{68,70}}</string>
                <key>sourceSize</key>
                <string>{280,250}</string>
            </dict>
            <key>mishushi_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,541},{68,70}}</string>
                <key>offset</key>
                <string>{-21,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,103},{68,70}}</string>
                <key>sourceSize</key>
                <string>{280,250}</string>
            </dict>
            <key>mishushi_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,397},{74,70}}</string>
                <key>offset</key>
                <string>{-20,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,103},{74,70}}</string>
                <key>sourceSize</key>
                <string>{280,250}</string>
            </dict>
            <key>mishushi_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,397},{74,70}}</string>
                <key>offset</key>
                <string>{-20,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,103},{74,70}}</string>
                <key>sourceSize</key>
                <string>{280,250}</string>
            </dict>
            <key>mishushi_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,263},{80,70}}</string>
                <key>offset</key>
                <string>{-17,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,103},{80,70}}</string>
                <key>sourceSize</key>
                <string>{280,250}</string>
            </dict>
            <key>mishushi_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,263},{80,70}}</string>
                <key>offset</key>
                <string>{-17,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,103},{80,70}}</string>
                <key>sourceSize</key>
                <string>{280,250}</string>
            </dict>
            <key>mishushi_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,191},{86,70}}</string>
                <key>offset</key>
                <string>{-15,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,103},{86,70}}</string>
                <key>sourceSize</key>
                <string>{280,250}</string>
            </dict>
            <key>mishushi_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,191},{86,70}}</string>
                <key>offset</key>
                <string>{-15,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,103},{86,70}}</string>
                <key>sourceSize</key>
                <string>{280,250}</string>
            </dict>
            <key>mishushi_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,185},{90,82}}</string>
                <key>offset</key>
                <string>{-14,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,91},{90,82}}</string>
                <key>sourceSize</key>
                <string>{280,250}</string>
            </dict>
            <key>mishushi_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,185},{90,82}}</string>
                <key>offset</key>
                <string>{-14,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,91},{90,82}}</string>
                <key>sourceSize</key>
                <string>{280,250}</string>
            </dict>
            <key>mishushi_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,91},{94,86}}</string>
                <key>offset</key>
                <string>{-13,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,87},{94,86}}</string>
                <key>sourceSize</key>
                <string>{280,250}</string>
            </dict>
            <key>mishushi_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,91},{94,86}}</string>
                <key>offset</key>
                <string>{-13,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,87},{94,86}}</string>
                <key>sourceSize</key>
                <string>{280,250}</string>
            </dict>
            <key>mishushi_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,89},{100,94}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,79},{100,94}}</string>
                <key>sourceSize</key>
                <string>{280,250}</string>
            </dict>
            <key>mishushi_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,89},{100,94}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,79},{100,94}}</string>
                <key>sourceSize</key>
                <string>{280,250}</string>
            </dict>
            <key>mishushi_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,1},{102,94}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,79},{102,94}}</string>
                <key>sourceSize</key>
                <string>{280,250}</string>
            </dict>
            <key>mishushi_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,1},{102,94}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,79},{102,94}}</string>
                <key>sourceSize</key>
                <string>{280,250}</string>
            </dict>
            <key>mishushi_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,97},{102,92}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,81},{102,92}}</string>
                <key>sourceSize</key>
                <string>{280,250}</string>
            </dict>
            <key>mishushi_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,97},{102,92}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,81},{102,92}}</string>
                <key>sourceSize</key>
                <string>{280,250}</string>
            </dict>
            <key>mishushi_0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,335},{78,70}}</string>
                <key>offset</key>
                <string>{-21,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,103},{78,70}}</string>
                <key>sourceSize</key>
                <string>{280,250}</string>
            </dict>
            <key>mishushi_0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,335},{78,70}}</string>
                <key>offset</key>
                <string>{-21,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,103},{78,70}}</string>
                <key>sourceSize</key>
                <string>{280,250}</string>
            </dict>
            <key>mishushi_0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,401},{72,70}}</string>
                <key>offset</key>
                <string>{-24,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,103},{72,70}}</string>
                <key>sourceSize</key>
                <string>{280,250}</string>
            </dict>
            <key>mishushi_0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,469},{72,70}}</string>
                <key>offset</key>
                <string>{-23,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,103},{72,70}}</string>
                <key>sourceSize</key>
                <string>{280,250}</string>
            </dict>
            <key>mishushi_0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,469},{72,70}}</string>
                <key>offset</key>
                <string>{-23,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,103},{72,70}}</string>
                <key>sourceSize</key>
                <string>{280,250}</string>
            </dict>
            <key>mishushi_0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,349},{72,70}}</string>
                <key>offset</key>
                <string>{-23,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,103},{72,70}}</string>
                <key>sourceSize</key>
                <string>{280,250}</string>
            </dict>
            <key>mishushi_0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,349},{72,70}}</string>
                <key>offset</key>
                <string>{-23,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,103},{72,70}}</string>
                <key>sourceSize</key>
                <string>{280,250}</string>
            </dict>
            <key>mishushi_0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,407},{72,70}}</string>
                <key>offset</key>
                <string>{-23,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,103},{72,70}}</string>
                <key>sourceSize</key>
                <string>{280,250}</string>
            </dict>
            <key>mishushi_0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,407},{72,70}}</string>
                <key>offset</key>
                <string>{-23,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,103},{72,70}}</string>
                <key>sourceSize</key>
                <string>{280,250}</string>
            </dict>
            <key>mishushi_0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,473},{70,70}}</string>
                <key>offset</key>
                <string>{-22,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,103},{70,70}}</string>
                <key>sourceSize</key>
                <string>{280,250}</string>
            </dict>
            <key>mishushi_0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,473},{70,70}}</string>
                <key>offset</key>
                <string>{-22,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,103},{70,70}}</string>
                <key>sourceSize</key>
                <string>{280,250}</string>
            </dict>
            <key>mishushi_0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,479},{62,70}}</string>
                <key>offset</key>
                <string>{-24,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,103},{62,70}}</string>
                <key>sourceSize</key>
                <string>{280,250}</string>
            </dict>
            <key>mishushi_0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,545},{64,68}}</string>
                <key>offset</key>
                <string>{-26,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,105},{64,68}}</string>
                <key>sourceSize</key>
                <string>{280,250}</string>
            </dict>
            <key>mishushi_0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,611},{64,68}}</string>
                <key>offset</key>
                <string>{-27,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,105},{64,68}}</string>
                <key>sourceSize</key>
                <string>{280,250}</string>
            </dict>
            <key>mishushi_0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,545},{64,68}}</string>
                <key>offset</key>
                <string>{-27,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,105},{64,68}}</string>
                <key>sourceSize</key>
                <string>{280,250}</string>
            </dict>
            <key>mishushi_0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,471},{64,66}}</string>
                <key>offset</key>
                <string>{-27,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,107},{64,66}}</string>
                <key>sourceSize</key>
                <string>{280,250}</string>
            </dict>
            <key>mishushi_0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,497},{66,70}}</string>
                <key>offset</key>
                <string>{-28,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,103},{66,70}}</string>
                <key>sourceSize</key>
                <string>{280,250}</string>
            </dict>
            <key>mishushi_0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,329},{70,76}}</string>
                <key>offset</key>
                <string>{-30,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,97},{70,76}}</string>
                <key>sourceSize</key>
                <string>{280,250}</string>
            </dict>
            <key>mishushi_0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,269},{78,92}}</string>
                <key>offset</key>
                <string>{-34,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,81},{78,92}}</string>
                <key>sourceSize</key>
                <string>{280,250}</string>
            </dict>
            <key>mishushi_0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,269},{78,92}}</string>
                <key>offset</key>
                <string>{-34,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,81},{78,92}}</string>
                <key>sourceSize</key>
                <string>{280,250}</string>
            </dict>
            <key>mishushi_0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,173},{78,102}}</string>
                <key>offset</key>
                <string>{-33,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,71},{78,102}}</string>
                <key>sourceSize</key>
                <string>{280,250}</string>
            </dict>
            <key>mishushi_0052.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,173},{78,102}}</string>
                <key>offset</key>
                <string>{-33,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,71},{78,102}}</string>
                <key>sourceSize</key>
                <string>{280,250}</string>
            </dict>
            <key>mishushi_0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,91},{80,108}}</string>
                <key>offset</key>
                <string>{-34,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,65},{80,108}}</string>
                <key>sourceSize</key>
                <string>{280,250}</string>
            </dict>
            <key>mishushi_0054.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,91},{80,108}}</string>
                <key>offset</key>
                <string>{-34,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,65},{80,108}}</string>
                <key>sourceSize</key>
                <string>{280,250}</string>
            </dict>
            <key>mishushi_0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{88,116}}</string>
                <key>offset</key>
                <string>{-38,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,57},{88,116}}</string>
                <key>sourceSize</key>
                <string>{280,250}</string>
            </dict>
            <key>mishushi_0056.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{88,116}}</string>
                <key>offset</key>
                <string>{-38,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,57},{88,116}}</string>
                <key>sourceSize</key>
                <string>{280,250}</string>
            </dict>
            <key>mishushi_0057.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,1},{88,116}}</string>
                <key>offset</key>
                <string>{-38,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,57},{88,116}}</string>
                <key>sourceSize</key>
                <string>{280,250}</string>
            </dict>
            <key>mishushi_0058.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,1},{88,116}}</string>
                <key>offset</key>
                <string>{-38,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,57},{88,116}}</string>
                <key>sourceSize</key>
                <string>{280,250}</string>
            </dict>
            <key>mishushi_0059.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,1},{88,116}}</string>
                <key>offset</key>
                <string>{-38,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,57},{88,116}}</string>
                <key>sourceSize</key>
                <string>{280,250}</string>
            </dict>
            <key>mishushi_0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,1},{88,116}}</string>
                <key>offset</key>
                <string>{-38,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,57},{88,116}}</string>
                <key>sourceSize</key>
                <string>{280,250}</string>
            </dict>
            <key>mishushi_0061.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,1},{86,114}}</string>
                <key>offset</key>
                <string>{-37,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,59},{86,114}}</string>
                <key>sourceSize</key>
                <string>{280,250}</string>
            </dict>
            <key>mishushi_0062.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,1},{86,114}}</string>
                <key>offset</key>
                <string>{-37,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,59},{86,114}}</string>
                <key>sourceSize</key>
                <string>{280,250}</string>
            </dict>
            <key>mishushi_0063.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,1},{86,114}}</string>
                <key>offset</key>
                <string>{-37,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,59},{86,114}}</string>
                <key>sourceSize</key>
                <string>{280,250}</string>
            </dict>
            <key>mishushi_0064.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,1},{86,114}}</string>
                <key>offset</key>
                <string>{-37,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,59},{86,114}}</string>
                <key>sourceSize</key>
                <string>{280,250}</string>
            </dict>
            <key>mishushi_0065.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,179},{74,100}}</string>
                <key>offset</key>
                <string>{-31,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,73},{74,100}}</string>
                <key>sourceSize</key>
                <string>{280,250}</string>
            </dict>
            <key>mishushi_0066.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,253},{74,100}}</string>
                <key>offset</key>
                <string>{-31,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,73},{74,100}}</string>
                <key>sourceSize</key>
                <string>{280,250}</string>
            </dict>
            <key>mishushi_0067.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,255},{72,100}}</string>
                <key>offset</key>
                <string>{-30,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,73},{72,100}}</string>
                <key>sourceSize</key>
                <string>{280,250}</string>
            </dict>
            <key>mishushi_0068.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,223},{64,90}}</string>
                <key>offset</key>
                <string>{-26,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,83},{64,90}}</string>
                <key>sourceSize</key>
                <string>{280,250}</string>
            </dict>
            <key>mishushi_0069.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,315},{62,90}}</string>
                <key>offset</key>
                <string>{-25,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,83},{62,90}}</string>
                <key>sourceSize</key>
                <string>{280,250}</string>
            </dict>
            <key>mishushi_0070.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,329},{66,82}}</string>
                <key>offset</key>
                <string>{-28,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,91},{66,82}}</string>
                <key>sourceSize</key>
                <string>{280,250}</string>
            </dict>
            <key>mishushi_0071.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,421},{68,74}}</string>
                <key>offset</key>
                <string>{-29,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,99},{68,74}}</string>
                <key>sourceSize</key>
                <string>{280,250}</string>
            </dict>
            <key>mishushi_0072.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,611},{62,72}}</string>
                <key>offset</key>
                <string>{-25,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,101},{62,72}}</string>
                <key>sourceSize</key>
                <string>{280,250}</string>
            </dict>
            <key>mishushi_0073.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,611},{62,70}}</string>
                <key>offset</key>
                <string>{-24,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,103},{62,70}}</string>
                <key>sourceSize</key>
                <string>{280,250}</string>
            </dict>
            <key>mishushi_0074.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,543},{62,68}}</string>
                <key>offset</key>
                <string>{-38,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,105},{62,68}}</string>
                <key>sourceSize</key>
                <string>{280,250}</string>
            </dict>
            <key>mishushi_0075.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,543},{62,68}}</string>
                <key>offset</key>
                <string>{-38,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,105},{62,68}}</string>
                <key>sourceSize</key>
                <string>{280,250}</string>
            </dict>
            <key>mishushi_0076.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,537},{72,58}}</string>
                <key>offset</key>
                <string>{-44,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,115},{72,58}}</string>
                <key>sourceSize</key>
                <string>{280,250}</string>
            </dict>
            <key>mishushi_0077.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,537},{72,58}}</string>
                <key>offset</key>
                <string>{-44,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,115},{72,58}}</string>
                <key>sourceSize</key>
                <string>{280,250}</string>
            </dict>
            <key>mishushi_0078.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,441},{88,52}}</string>
                <key>offset</key>
                <string>{-46,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,124},{88,52}}</string>
                <key>sourceSize</key>
                <string>{280,250}</string>
            </dict>
            <key>mishushi_0079.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,441},{88,52}}</string>
                <key>offset</key>
                <string>{-46,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,124},{88,52}}</string>
                <key>sourceSize</key>
                <string>{280,250}</string>
            </dict>
            <key>mishushi_0080.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,119},{102,50}}</string>
                <key>offset</key>
                <string>{-40,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,127},{102,50}}</string>
                <key>sourceSize</key>
                <string>{280,250}</string>
            </dict>
            <key>mishushi_0081.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,119},{102,50}}</string>
                <key>offset</key>
                <string>{-40,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,127},{102,50}}</string>
                <key>sourceSize</key>
                <string>{280,250}</string>
            </dict>
            <key>mishushi_0082.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,329},{110,40}}</string>
                <key>offset</key>
                <string>{-37,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,137},{110,40}}</string>
                <key>sourceSize</key>
                <string>{280,250}</string>
            </dict>
            <key>mishushi_0083.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,329},{110,40}}</string>
                <key>offset</key>
                <string>{-37,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,137},{110,40}}</string>
                <key>sourceSize</key>
                <string>{280,250}</string>
            </dict>
            <key>mishushi_0084.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,185},{114,36}}</string>
                <key>offset</key>
                <string>{-35,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,141},{114,36}}</string>
                <key>sourceSize</key>
                <string>{280,250}</string>
            </dict>
            <key>mishushi_0085.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,185},{114,36}}</string>
                <key>offset</key>
                <string>{-35,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,141},{114,36}}</string>
                <key>sourceSize</key>
                <string>{280,250}</string>
            </dict>
            <key>mishushi_0086.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,1},{116,38}}</string>
                <key>offset</key>
                <string>{-33,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,139},{116,38}}</string>
                <key>sourceSize</key>
                <string>{280,250}</string>
            </dict>
            <key>mishushi_0087.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,1},{116,38}}</string>
                <key>offset</key>
                <string>{-33,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,139},{116,38}}</string>
                <key>sourceSize</key>
                <string>{280,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cabalist.png</string>
            <key>size</key>
            <string>{496,676}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c08ab8d15a721327ad32f18641eb3c8c:9fecc28d09e2250a57ffa1e4a4c02d5c:11e39346653b87b07410d5f70fbbb1b1$</string>
            <key>textureFileName</key>
            <string>cabalist.png</string>
        </dict>
    </dict>
</plist>
