<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jinglinglong_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,1},{104,98}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,159},{104,98}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>jinglinglong_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,1},{104,98}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,159},{104,98}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>jinglinglong_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,321},{98,80}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,161},{98,80}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>jinglinglong_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,321},{98,80}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,161},{98,80}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>jinglinglong_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,329},{88,68}}</string>
                <key>offset</key>
                <string>{10,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,155},{88,68}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>jinglinglong_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,329},{88,68}}</string>
                <key>offset</key>
                <string>{10,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,155},{88,68}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>jinglinglong_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,329},{96,70}}</string>
                <key>offset</key>
                <string>{5,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,148},{96,70}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>jinglinglong_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,329},{96,70}}</string>
                <key>offset</key>
                <string>{5,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,148},{96,70}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>jinglinglong_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,217},{110,88}}</string>
                <key>offset</key>
                <string>{-1,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,130},{110,88}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>jinglinglong_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,217},{110,88}}</string>
                <key>offset</key>
                <string>{-1,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,130},{110,88}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>jinglinglong_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,217},{110,100}}</string>
                <key>offset</key>
                <string>{-1,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,121},{110,100}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>jinglinglong_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,217},{110,100}}</string>
                <key>offset</key>
                <string>{-1,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,121},{110,100}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>jinglinglong_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,1},{122,106}}</string>
                <key>offset</key>
                <string>{-5,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,118},{122,106}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>jinglinglong_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,1},{122,106}}</string>
                <key>offset</key>
                <string>{-5,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,118},{122,106}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>jinglinglong_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,1},{120,100}}</string>
                <key>offset</key>
                <string>{-7,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,121},{120,100}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>jinglinglong_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,1},{120,100}}</string>
                <key>offset</key>
                <string>{-7,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,121},{120,100}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>jinglinglong_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,97},{110,104}}</string>
                <key>offset</key>
                <string>{0,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,114},{110,104}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>jinglinglong_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,97},{110,104}}</string>
                <key>offset</key>
                <string>{0,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,114},{110,104}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>jinglinglong_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,107},{104,98}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,159},{104,98}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>jinglinglong_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,93},{106,86}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,161},{106,86}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>jinglinglong_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,93},{106,86}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,161},{106,86}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>jinglinglong_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,317},{96,80}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,159},{96,80}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>jinglinglong_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,317},{96,80}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,159},{96,80}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>jinglinglong_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,201},{96,68}}</string>
                <key>offset</key>
                <string>{4,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,158},{96,68}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>jinglinglong_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,201},{96,68}}</string>
                <key>offset</key>
                <string>{4,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,158},{96,68}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>jinglinglong_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,1},{120,90}}</string>
                <key>offset</key>
                <string>{-8,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,145},{120,90}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>jinglinglong_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,1},{120,90}}</string>
                <key>offset</key>
                <string>{-8,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,145},{120,90}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>jinglinglong_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,209},{110,100}}</string>
                <key>offset</key>
                <string>{0,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,125},{110,100}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>jinglinglong_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,209},{110,100}}</string>
                <key>offset</key>
                <string>{0,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,125},{110,100}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>jinglinglong_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,249},{108,116}}</string>
                <key>offset</key>
                <string>{-1,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,109},{108,116}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>jinglinglong_0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,249},{108,116}}</string>
                <key>offset</key>
                <string>{-1,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,109},{108,116}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>jinglinglong_0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,1},{104,120}}</string>
                <key>offset</key>
                <string>{1,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,113},{104,120}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>jinglinglong_0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,1},{104,120}}</string>
                <key>offset</key>
                <string>{1,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,113},{104,120}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>jinglinglong_0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,217},{98,112}}</string>
                <key>offset</key>
                <string>{5,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,124},{98,112}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>jinglinglong_0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,217},{98,112}}</string>
                <key>offset</key>
                <string>{5,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,124},{98,112}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>jinglinglong_0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,93},{106,110}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,145},{106,110}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>jinglinglong_0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,93},{106,110}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,145},{106,110}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>jinglinglong_0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,213},{100,102}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,153},{100,102}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>jinglinglong_0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,213},{100,102}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,153},{100,102}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>jinglinglong_0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,107},{108,84}}</string>
                <key>offset</key>
                <string>{7,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,163},{108,84}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>jinglinglong_0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,107},{108,84}}</string>
                <key>offset</key>
                <string>{7,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,163},{108,84}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>jinglinglong_0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,127},{120,70}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,159},{120,70}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>jinglinglong_0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,127},{120,70}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,159},{120,70}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>jinglinglong_0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,109},{116,78}}</string>
                <key>offset</key>
                <string>{4,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,141},{116,78}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>jinglinglong_0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,109},{116,78}}</string>
                <key>offset</key>
                <string>{4,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,141},{116,78}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>jinglinglong_0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,1},{120,90}}</string>
                <key>offset</key>
                <string>{4,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,127},{120,90}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>jinglinglong_0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,1},{120,90}}</string>
                <key>offset</key>
                <string>{4,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,127},{120,90}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>jinglinglong_0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,249},{114,114}}</string>
                <key>offset</key>
                <string>{9,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,105},{114,114}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>jinglinglong_0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,249},{114,114}}</string>
                <key>offset</key>
                <string>{9,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,105},{114,114}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>jinglinglong_0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,227},{116,96}}</string>
                <key>offset</key>
                <string>{8,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,129},{116,96}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>jinglinglong_0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,227},{116,96}}</string>
                <key>offset</key>
                <string>{8,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,129},{116,96}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>jinglinglong_0052.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,107},{116,108}}</string>
                <key>offset</key>
                <string>{3,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,115},{116,108}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>jinglinglong_0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,107},{116,108}}</string>
                <key>offset</key>
                <string>{3,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,115},{116,108}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>jinglinglong_0054.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,107},{106,108}}</string>
                <key>offset</key>
                <string>{4,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,131},{106,108}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>jinglinglong_0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,107},{106,108}}</string>
                <key>offset</key>
                <string>{4,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,131},{106,108}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>jinglinglong_0056.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,205},{110,88}}</string>
                <key>offset</key>
                <string>{2,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,128},{110,88}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>jinglinglong_0057.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,205},{110,88}}</string>
                <key>offset</key>
                <string>{2,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,128},{110,88}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>jinglinglong_0058.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,127},{114,120}}</string>
                <key>offset</key>
                <string>{4,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,127},{114,120}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>jinglinglong_0059.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,127},{114,120}}</string>
                <key>offset</key>
                <string>{4,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,127},{114,120}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>jinglinglong_0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{140,124}}</string>
                <key>offset</key>
                <string>{17,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,127},{140,124}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>jinglinglong_0061.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{140,124}}</string>
                <key>offset</key>
                <string>{17,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,127},{140,124}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>jinglinglong_0062.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,1},{126,94}}</string>
                <key>offset</key>
                <string>{20,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,127},{126,94}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>jinglinglong_0063.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,1},{126,94}}</string>
                <key>offset</key>
                <string>{20,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,127},{126,94}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>jinglinglong_0064.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,331},{110,74}}</string>
                <key>offset</key>
                <string>{27,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,134},{110,74}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>jinglinglong_0065.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,331},{110,74}}</string>
                <key>offset</key>
                <string>{27,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,134},{110,74}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>jinglinglong_0066.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,315},{80,98}}</string>
                <key>offset</key>
                <string>{23,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{258,110},{80,98}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>jinglinglong_0067.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,315},{80,98}}</string>
                <key>offset</key>
                <string>{23,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{258,110},{80,98}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>jinglinglong_0068.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,365},{32,64}}</string>
                <key>offset</key>
                <string>{2,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{261,128},{32,64}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>jinglinglong_0069.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,365},{32,64}}</string>
                <key>offset</key>
                <string>{2,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{261,128},{32,64}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>jinglinglong_0070.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,109},{12,10}}</string>
                <key>offset</key>
                <string>{23,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{292,127},{12,10}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>jinglinglong_0071.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,109},{12,10}}</string>
                <key>offset</key>
                <string>{23,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{292,127},{12,10}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>faerie_dragon.png</string>
            <key>size</key>
            <string>{982,406}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a6516fefe886d768cd2c77c70ad1686a:749569429472711991812394ca06e463:f4df874aefa827a894a2248d19f4684c$</string>
            <key>textureFileName</key>
            <string>faerie_dragon.png</string>
        </dict>
    </dict>
</plist>
