<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>frog_summon/hamab_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,501},{38,36}}</string>
                <key>offset</key>
                <string>{12,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{268,222},{38,36}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>frog_summon/hamab_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,469},{40,30}}</string>
                <key>offset</key>
                <string>{13,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{268,228},{40,30}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>frog_summon/hamab_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,483},{40,30}}</string>
                <key>offset</key>
                <string>{13,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{268,228},{40,30}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>frog_summon/hamab_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,449},{40,32}}</string>
                <key>offset</key>
                <string>{13,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{268,226},{40,32}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>frog_summon/hamab_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,379},{40,34}}</string>
                <key>offset</key>
                <string>{13,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{268,224},{40,34}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>frog_summon/hamab_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,515},{36,38}}</string>
                <key>offset</key>
                <string>{11,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{268,220},{36,38}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>frog_summon/hamab_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,457},{36,40}}</string>
                <key>offset</key>
                <string>{12,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{269,218},{36,40}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>frog_summon/hamab_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,535},{36,38}}</string>
                <key>offset</key>
                <string>{11,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{268,220},{36,38}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>frog_summon/hamab_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,535},{36,38}}</string>
                <key>offset</key>
                <string>{11,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{268,220},{36,38}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>frog_summon/hamab_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,539},{32,38}}</string>
                <key>offset</key>
                <string>{10,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{269,220},{32,38}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>frog_summon/hamab_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,411},{42,36}}</string>
                <key>offset</key>
                <string>{14,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{268,222},{42,36}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>frog_summon/hamab_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,195},{50,36}}</string>
                <key>offset</key>
                <string>{18,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{268,222},{50,36}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>frog_summon/hamab_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,267},{46,34}}</string>
                <key>offset</key>
                <string>{17,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{269,224},{46,34}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>frog_summon/hamab_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,233},{48,32}}</string>
                <key>offset</key>
                <string>{18,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{269,226},{48,32}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>frog_summon/hamab_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,295},{46,32}}</string>
                <key>offset</key>
                <string>{16,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{268,226},{46,32}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>frog_summon/hamab_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,431},{40,36}}</string>
                <key>offset</key>
                <string>{13,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{268,222},{40,36}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>frog_summon/hamab_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,495},{38,38}}</string>
                <key>offset</key>
                <string>{12,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{268,220},{38,38}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>frog_summon/hamab_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,535},{36,38}}</string>
                <key>offset</key>
                <string>{11,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{268,220},{36,38}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>frog_summon/hamab_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,347},{38,44}}</string>
                <key>offset</key>
                <string>{7,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{263,214},{38,44}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>frog_summon/hamab_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,329},{40,44}}</string>
                <key>offset</key>
                <string>{6,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{261,214},{40,44}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>frog_summon/hamab_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,303},{42,44}}</string>
                <key>offset</key>
                <string>{5,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{259,214},{42,44}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>frog_summon/hamab_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,371},{38,44}}</string>
                <key>offset</key>
                <string>{7,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{263,214},{38,44}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>frog_summon/hamab_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,335},{32,42}}</string>
                <key>offset</key>
                <string>{10,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{269,216},{32,42}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>frog_summon/hamab_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,421},{34,34}}</string>
                <key>offset</key>
                <string>{11,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{269,224},{34,34}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>frog_summon/hamab_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,195},{44,20}}</string>
                <key>offset</key>
                <string>{13,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{266,238},{44,20}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>frog_summon/hamab_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,241},{44,22}}</string>
                <key>offset</key>
                <string>{13,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{266,236},{44,22}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>frog_summon/hamab_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,387},{44,20}}</string>
                <key>offset</key>
                <string>{13,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{266,238},{44,20}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>frog_summon/hamab_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,409},{44,20}}</string>
                <key>offset</key>
                <string>{13,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{266,238},{44,20}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>frog_summon/hamab_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,235},{48,28}}</string>
                <key>offset</key>
                <string>{13,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{264,232},{48,28}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>frog_summon/hamab_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,235},{48,28}}</string>
                <key>offset</key>
                <string>{13,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{264,232},{48,28}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>frog_summon/hamab_0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,139},{52,30}}</string>
                <key>offset</key>
                <string>{14,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,229},{52,30}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>frog_summon/hamab_0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,139},{52,30}}</string>
                <key>offset</key>
                <string>{14,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,229},{52,30}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>frog_summon/hamab_0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,171},{52,26}}</string>
                <key>offset</key>
                <string>{13,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,232},{52,26}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>frog_summon/hamab_0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,171},{52,26}}</string>
                <key>offset</key>
                <string>{13,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,232},{52,26}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>frog_summon/hamab_0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,101},{54,28}}</string>
                <key>offset</key>
                <string>{13,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,232},{54,28}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>frog_summon/hamab_0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,101},{54,28}}</string>
                <key>offset</key>
                <string>{13,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,232},{54,28}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>frog_summon/hamab_0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,165},{52,28}}</string>
                <key>offset</key>
                <string>{14,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,231},{52,28}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>frog_summon/hamab_0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,165},{52,28}}</string>
                <key>offset</key>
                <string>{14,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,231},{52,28}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>frog_summon/hamab_0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,287},{46,26}}</string>
                <key>offset</key>
                <string>{14,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{266,234},{46,26}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>frog_summon/hamab_0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,287},{46,26}}</string>
                <key>offset</key>
                <string>{14,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{266,234},{46,26}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>frog_summon/hamab_0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,265},{48,28}}</string>
                <key>offset</key>
                <string>{13,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{264,232},{48,28}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>frog_summon/hamab_0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,265},{48,28}}</string>
                <key>offset</key>
                <string>{13,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{264,232},{48,28}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>frog_summon/hamab_0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,69},{54,30}}</string>
                <key>offset</key>
                <string>{14,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,230},{54,30}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>frog_summon/hamab_0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,69},{54,30}}</string>
                <key>offset</key>
                <string>{14,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,230},{54,30}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>frog_summon/hamab_0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,109},{54,28}}</string>
                <key>offset</key>
                <string>{11,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,231},{54,28}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>frog_summon/hamab_0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,109},{54,28}}</string>
                <key>offset</key>
                <string>{11,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,231},{54,28}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>frog_summon/hamab_0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,77},{54,30}}</string>
                <key>offset</key>
                <string>{12,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{260,229},{54,30}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>frog_summon/hamab_0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,77},{54,30}}</string>
                <key>offset</key>
                <string>{12,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{260,229},{54,30}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>frog_summon/hamab_0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,1},{56,28}}</string>
                <key>offset</key>
                <string>{12,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,229},{56,28}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>frog_summon/hamab_0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,1},{56,28}}</string>
                <key>offset</key>
                <string>{12,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,229},{56,28}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>frog_summon/hamab_0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,131},{52,32}}</string>
                <key>offset</key>
                <string>{8,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,225},{52,32}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>frog_summon/hamab_0052.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,131},{52,32}}</string>
                <key>offset</key>
                <string>{8,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,225},{52,32}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>frog_summon/hamab_0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,199},{50,34}}</string>
                <key>offset</key>
                <string>{11,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,226},{50,34}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>frog_summon/hamab_0054.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,199},{50,34}}</string>
                <key>offset</key>
                <string>{11,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,226},{50,34}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>frog_summon/hamab_0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,31},{54,36}}</string>
                <key>offset</key>
                <string>{11,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,224},{54,36}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>frog_summon/hamab_0056.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,31},{54,36}}</string>
                <key>offset</key>
                <string>{11,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,224},{54,36}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>frog_summon/hamab_0057.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,39},{54,36}}</string>
                <key>offset</key>
                <string>{13,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,224},{54,36}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>frog_summon/hamab_0058.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,39},{54,36}}</string>
                <key>offset</key>
                <string>{13,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,224},{54,36}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>frog_summon/hamab_0059.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{56,36}}</string>
                <key>offset</key>
                <string>{14,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,224},{56,36}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>frog_summon/hamab_0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{56,36}}</string>
                <key>offset</key>
                <string>{14,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,224},{56,36}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>frog_summon.png</string>
            <key>size</key>
            <string>{128,572}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1b9ef9c619651c63b42ec2077992b48e:71768ea72851939c3a1578acc8d6c2a3:6fd891682632619bb0fe3584303079c5$</string>
            <key>textureFileName</key>
            <string>frog_summon.png</string>
        </dict>
    </dict>
</plist>
