<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>manrenbos_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,1},{322,228}}</string>
                <key>offset</key>
                <string>{70,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,221},{322,228}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>manrenbos_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1297,1},{322,228}}</string>
                <key>offset</key>
                <string>{70,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,230},{322,228}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>manrenbos_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,1},{322,230}}</string>
                <key>offset</key>
                <string>{70,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,211},{322,230}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>manrenbos_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,231},{322,228}}</string>
                <key>offset</key>
                <string>{70,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,217},{322,228}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>manrenbos_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1297,231},{322,228}}</string>
                <key>offset</key>
                <string>{70,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,226},{322,228}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>manrenbos_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{322,232}}</string>
                <key>offset</key>
                <string>{70,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,216},{322,232}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>manrenbos_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1293,461},{320,228}}</string>
                <key>offset</key>
                <string>{75,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,213},{320,228}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>manrenbos_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,1451},{212,290}}</string>
                <key>offset</key>
                <string>{48,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,151},{212,290}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>manrenbos_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1581,1261},{196,296}}</string>
                <key>offset</key>
                <string>{43,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{245,145},{196,296}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>manrenbos_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1581,1261},{196,296}}</string>
                <key>offset</key>
                <string>{43,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{245,145},{196,296}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>manrenbos_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1581,1261},{196,296}}</string>
                <key>offset</key>
                <string>{43,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{245,145},{196,296}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>manrenbos_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,463},{320,316}}</string>
                <key>offset</key>
                <string>{61,-92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,234},{320,316}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>manrenbos_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,981},{222,316}}</string>
                <key>offset</key>
                <string>{25,-92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,234},{222,316}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>manrenbos_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1293,691},{206,320}}</string>
                <key>offset</key>
                <string>{31,-92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,232},{206,320}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>manrenbos_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,789},{318,264}}</string>
                <key>offset</key>
                <string>{68,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,214},{318,264}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>manrenbos_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,233},{322,228}}</string>
                <key>offset</key>
                <string>{72,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,217},{322,228}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>manrenbos_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,235},{322,224}}</string>
                <key>offset</key>
                <string>{72,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,221},{322,224}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>manrenbos_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,461},{322,216}}</string>
                <key>offset</key>
                <string>{72,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,228},{322,216}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>manrenbos_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,1013},{318,230}}</string>
                <key>offset</key>
                <string>{75,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,211},{318,230}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>manrenbos_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{1249,1373},{292,234}}</string>
                <key>offset</key>
                <string>{-47,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,207},{292,234}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>manrenbos_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,1205},{294,244}}</string>
                <key>offset</key>
                <string>{-48,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,197},{294,244}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>manrenbos_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{1283,1129},{296,242}}</string>
                <key>offset</key>
                <string>{-49,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,199},{296,242}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>manrenbos_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{1283,1129},{296,242}}</string>
                <key>offset</key>
                <string>{-49,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,199},{296,242}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>manrenbos_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{1283,1129},{296,242}}</string>
                <key>offset</key>
                <string>{-49,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,199},{296,242}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>manrenbos_0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,1341},{294,242}}</string>
                <key>offset</key>
                <string>{-48,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,199},{294,242}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>manrenbos_0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{1283,1129},{296,242}}</string>
                <key>offset</key>
                <string>{-49,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,199},{296,242}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>manrenbos_0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{1543,1459},{282,242}}</string>
                <key>offset</key>
                <string>{-35,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,199},{282,242}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>manrenbos_0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,1},{322,230}}</string>
                <key>offset</key>
                <string>{73,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,215},{322,230}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>manrenbos_0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,1013},{318,230}}</string>
                <key>offset</key>
                <string>{75,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,211},{318,230}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>manrenbos_0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,1451},{212,290}}</string>
                <key>offset</key>
                <string>{48,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,151},{212,290}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>manrenbos_0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{1581,1261},{196,296}}</string>
                <key>offset</key>
                <string>{43,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{245,145},{196,296}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>manrenbos_0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{1359,1703},{242,282}}</string>
                <key>offset</key>
                <string>{66,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,159},{242,282}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>manrenbos_0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,233},{318,320}}</string>
                <key>offset</key>
                <string>{86,-92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,232},{318,320}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>manrenbos_0054.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,703},{318,276}}</string>
                <key>offset</key>
                <string>{69,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,215},{318,276}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>manrenbos_0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,789},{318,264}}</string>
                <key>offset</key>
                <string>{68,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,214},{318,264}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>manrenbos_0057.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,679},{320,246}}</string>
                <key>offset</key>
                <string>{64,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,214},{320,246}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>manrenbos_0058.png</key>
            <dict>
                <key>frame</key>
                <string>{{1615,637},{314,266}}</string>
                <key>offset</key>
                <string>{53,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,214},{314,266}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>manrenbos_0059.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1159},{318,230}}</string>
                <key>offset</key>
                <string>{79,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,211},{318,230}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>manrenbos_0061.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,1055},{308,284}}</string>
                <key>offset</key>
                <string>{67,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,157},{308,284}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>manrenbos_0062.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,1055},{308,284}}</string>
                <key>offset</key>
                <string>{67,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,157},{308,284}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>manrenbos_0063.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,1055},{308,284}}</string>
                <key>offset</key>
                <string>{67,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,157},{308,284}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>manrenbos_0064.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,1245},{308,284}}</string>
                <key>offset</key>
                <string>{67,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,157},{308,284}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>manrenbos_0065.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1391},{308,284}}</string>
                <key>offset</key>
                <string>{67,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,157},{308,284}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>manrenbos_0066.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1391},{308,284}}</string>
                <key>offset</key>
                <string>{67,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,157},{308,284}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>manrenbos_0067.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1391},{308,284}}</string>
                <key>offset</key>
                <string>{67,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,157},{308,284}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>manrenbos_0068.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1391},{308,284}}</string>
                <key>offset</key>
                <string>{67,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,157},{308,284}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>manrenbos_0069.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1391},{308,284}}</string>
                <key>offset</key>
                <string>{67,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,157},{308,284}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>manrenbos_0070.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1391},{308,284}}</string>
                <key>offset</key>
                <string>{67,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,157},{308,284}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>manrenbos_0071.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1391},{308,284}}</string>
                <key>offset</key>
                <string>{67,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,157},{308,284}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>manrenbos_0072.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1391},{308,284}}</string>
                <key>offset</key>
                <string>{67,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,157},{308,284}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>manrenbos_0073.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,781},{320,230}}</string>
                <key>offset</key>
                <string>{79,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,211},{320,230}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>manrenbos_0074.png</key>
            <dict>
                <key>frame</key>
                <string>{{1289,899},{318,228}}</string>
                <key>offset</key>
                <string>{79,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,213},{318,228}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>manrenbos_0078.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,461},{320,240}}</string>
                <key>offset</key>
                <string>{67,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,201},{320,240}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>manrenbos_0079.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,703},{318,276}}</string>
                <key>offset</key>
                <string>{69,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,215},{318,276}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>manrenbos_0081.png</key>
            <dict>
                <key>frame</key>
                <string>{{1603,1703},{276,280}}</string>
                <key>offset</key>
                <string>{74,-105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,265},{276,280}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>manrenbos_0082.png</key>
            <dict>
                <key>frame</key>
                <string>{{1075,1665},{282,282}}</string>
                <key>offset</key>
                <string>{67,-102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,261},{282,282}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>manrenbos_0083.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,1665},{284,276}}</string>
                <key>offset</key>
                <string>{66,-105}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,267},{284,276}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>manrenbos_0085.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,1665},{288,262}}</string>
                <key>offset</key>
                <string>{80,-105}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,274},{288,262}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>manrenbos_0086.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1677},{302,264}}</string>
                <key>offset</key>
                <string>{76,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,204},{302,264}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>manrenbos_0088.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,553},{320,234}}</string>
                <key>offset</key>
                <string>{74,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,210},{320,234}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>manrenbos_0102.png</key>
            <dict>
                <key>frame</key>
                <string>{{1621,323},{256,312}}</string>
                <key>offset</key>
                <string>{39,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,129},{256,312}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>manrenbos_0103.png</key>
            <dict>
                <key>frame</key>
                <string>{{1621,1},{256,320}}</string>
                <key>offset</key>
                <string>{39,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,121},{256,320}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>manrenbos_0104.png</key>
            <dict>
                <key>frame</key>
                <string>{{1609,953},{264,306}}</string>
                <key>offset</key>
                <string>{42,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,135},{264,306}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>manrenbos_0105.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,1677},{264,300}}</string>
                <key>offset</key>
                <string>{42,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,141},{264,300}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>manrenbos_0106.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,1677},{264,300}}</string>
                <key>offset</key>
                <string>{42,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,141},{264,300}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>manrenbos_0107.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,1677},{264,300}}</string>
                <key>offset</key>
                <string>{42,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,141},{264,300}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>manrenbos_0108.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,1677},{264,300}}</string>
                <key>offset</key>
                <string>{42,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,141},{264,300}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>manrenbos_0111.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,927},{320,230}}</string>
                <key>offset</key>
                <string>{71,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,211},{320,230}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>barbarian_boss_1.png</string>
            <key>size</key>
            <string>{1882,1986}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9038dd0ff1313151a2482c7de8bf1bb4:c77332fe9fc8a68710d22549e0bfe07a:6794a974778c4b856f89d813fd31a5ac$</string>
            <key>textureFileName</key>
            <string>barbarian_boss_1.png</string>
        </dict>
    </dict>
</plist>
