<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>manrenbos_0080.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,1},{262,278}}</string>
                <key>offset</key>
                <string>{81,-110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,271},{262,278}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>manrenbos_0084.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{278,270}}</string>
                <key>offset</key>
                <string>{73,-108}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,273},{278,270}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>barbarian_boss_2.png</string>
            <key>size</key>
            <string>{536,280}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9038dd0ff1313151a2482c7de8bf1bb4:c77332fe9fc8a68710d22549e0bfe07a:6794a974778c4b856f89d813fd31a5ac$</string>
            <key>textureFileName</key>
            <string>barbarian_boss_2.png</string>
        </dict>
    </dict>
</plist>
